name: Project 2 - Docker Hub Deploy

on:
  push:
    branches:
      - main

jobs:
  build_push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Print test message
        run: echo "Project 2 workflow triggered successfully"
